body {
  background-image: url('./ricepaper_v3.png');

}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

a {
  display: block;
  margin: 10px;
}

th {
  text-align: left;
}

.question-button {
  margin: 5px 40px;
}
