<div class="container">
<h2>Make a New Survey!</h2>
<form id="create-survey" action="/surveys" method="POST">
  <label>Title: </label>
  <input type="text" name="title"><br>
  <input type="submit" value="On to questions!" class='question-button'>
</form>

</div>