<div class="container">
  <h1> Sign In </h1>
  <form role="form" action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" name="username"/><br>
    <label for="password">Password</label>
    <input class='form-control' id="password" type="password" name="password"/><br>
    <input type='submit' value='Login'>
  </form>
</div>