<div class="nav">
  <ul>
    <li><a href="/" id='home'>Home</a></li>
    <li><a href="/surveys" id='surveys'>Surveys</a></li>
    <li ><a href="https://github.com/banana-slugs-2014/Banana-form" id="project-title">Project Banana Form</a></li>
    <% if logged_in? %>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/login">Login</a> </li>
      <li><a href="/user/new">Create Account</a> </li>
    <% end %>
  </ul>
</div>